.hamburgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  cursor: pointer;
  padding: 0.25rem;
  margin-left: auto;

  @keyframes open-ham-menu {
    from {
      left: 0;
    }

    to {
      left: 200px;
    }
  }

  @keyframes close-ham-menu {
    from {
      left: -50px;
    }

    to {
      left: 0px;
    }
  }

  .stick {
    width: 34px;
    height: 4px;
    border-radius: 1rem;
    background-color: #333;
    transform: rotate(0deg) translate(0px, 0px);
    transition: transform 0.5s ease;

    &.close {
      position: relative;
      animation: close-ham-menu 0.5s forwards;
    }

    &.open {
      &:nth-child(1) {
        transform: rotate(45deg) translate(10px, 10px);
        transition: transform 0.5s ease;
      }

      &:nth-child(2) {
        position: relative;
        animation: open-ham-menu 2s forwards;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -9px);
        transition: transform 0.5s ease;
      }
    }
  }
}
